
<div class="search-bar">
    <form class="example-form">
    <mat-form-field class="example-full-width search-input"
    subscriptSizing="dynamic">
        <mat-label for="">Search for a stack</mat-label>
        <input matInput type="text" class="form-control" placeholder="Ex. React" [(ngModel)]="searchQ" (keyup.enter)="searchItem()">
        
    </mat-form-field>
    <button mat-fab extended>
        <i class="material-icons">search</i>SEARCH
      </button>
</form>
</div>

<div class="tabs">
    @if (items.length === 0) {
        <h1>No projects found</h1>
    }
    @else {              
        <mat-tab-group class="list"> 
        @for (item of items; track item.itemText ) {
            <mat-tab label="{{item.label}}" class="project">
                <h2>{{item.itemText}}</h2>
                <div class="intro">
                    <img src="https://www.mc-techgroup.com/pictures%20any/image-thumb__3657__m-und-c-product-main-image-modal/placeholder.webp" alt="">
                    <div class="description">
                        <p>{{item.itemDescription}}</p>
                    </div>
                    
                </div>

            </mat-tab>
        }
        </mat-tab-group>
        <div class="divider" role="separator" aria-label="Divider"></div>
    }

</div>