/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/cyan-orange.css";
html,
body {
  height: 100%;
}

body {
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(4, 4, 63);
  margin: 2rem;
}
body .search-bar {
  width: 100%;
}
body .search-bar form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
body .search-bar form .search-input {
  width: 86%;
}
body .search-bar form button {
  margin: auto 0;
}
body .tabs {
  margin: 2rem;
}
body .tabs .list {
  background-color: rgba(255, 255, 255, 0.142);
  padding: 1rem;
}
body .tabs .list h2 {
  margin-top: 1rem;
}
body .tabs .list .intro {
  display: flex;
  gap: 4rem;
}
body .tabs .list .intro .description p {
  margin: 6rem;
}
body .tabs .list .intro img {
  max-width: 40vw;
  height: 50vh;
}